<app-header></app-header>
<div>
  <h3>OBJETIVOS DA DANÇA EM GERAL</h3>
  <ul>
    <li>Melhora da coordenação motora;</li>
    <li>Aumenta a concentração;</li>
    <li>Noções de espaço e localização;</li>
    <li>Aumenta a flexibilidade;</li>
    <li>Mais resistência corporal;</li>
    <li>Corrige e melhora a postura;</li>
    <li>Estimula o desenvolvimento intelectual;</li>
    <li>Ajuda a expressão e memória;</li>
    <li>Aumenta a autoestima;</li>
    <li>Ajuda a fazer amigos inibindo a timidez;</li>
    <li>Melhora o equilíbrio e reflexos;</li>
  </ul>
</div>
<app-footer></app-footer>
