<app-header></app-header>

<section>
  <h4>
    Raphaella Albuquerque é Professora de Ballet, Artes e Neuropisicopedagoga,
    com especialização em Neurociência.
  </h4>
  <p>
    Formada pela UFRJ e com especiaização na Royal Academy Dance(Londres).<br />
    Tem vasta esperiência em dança e educação, atuando em colégios e na
    Secretaría de Saúde de Maricá.<br />
    Atualmente em se dedicado a colocar sua especialização em Neurociência em
    prática com aulas de Ballet com ênfase em cognição.
  </p>
</section>

<app-footer></app-footer>
